/* src/index.css */
@import "tailwindcss";

:root{
  --brand-navy:#161D6F; /* utama */
  --brand-royal:#0B2F9F;/* aksen */
  --brand-teal:#98DED9;  /* surface */
  --brand-mint:#C7FFD8;  /* subtle bg */
}

@keyframes fadeSlideIn {
  from { opacity: 0; transform: translateY(8px); }
  to   { opacity: 1; transform: translateY(0); }
}